    body {
        color: red;
        margin: 15px;
        a {
            text-decoration: none;
        }
        // h1 {
        //     font-family: Courier New, Courier, monospace;
        // }
        .site-header {
            float: left;
        }
        .site-nav-link {
            float: right;
        }
        hr {
            clear: both;
        }
        // label {
        //     display: block;
        // }
        nav a {
            margin: 1em;
        }
        .md-text-field-icon-container {
            margin: -1em;
        }
        .listing-container {
            margin: 20px 30px 20px 0;
        }
        .submit {
            border: 2px solid black;
            margin: auto;
            background-color: yellow;
        }
        .md-dialog--centered {
            padding: 0 0 20px 20px;
        }
        .account-nav li {
            list-style: none;
            font-size: 14px;
            line-height: 2em;
        }
    }